
# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
\*.csproj
*.pidb
*.suo
\*.sln
*.user
*.unityproj
*.booproj
project/Assembly-CSharp-vs.csproj
project/Assembly-CSharp.csproj
project/project-csharp.sln
project/project.sln